<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
  <meta name='description' content='design.code(create); Studiengang Digital Ideation, Hochschule Luzern.' />
  <title>Digital Ideation</title>
  <link href="https://unpkg.com/wingcss" rel="stylesheet"/>
  <link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css' />
  <meta name='robots' content='index, follow' />
  <meta name='msapplication-TileImage' content='/images/icon.jpg' />
  <meta name='msapplication-TileColor' content='#ffd60e' />
  <meta name='theme-color' content='#ffd60e' />
  <link rel='shortcut icon' href='/images/icon.jpg' />
</head>

<template name="layout">

    <div id="search">
      <input type="text" placeholder="keyword" name="keyword" />
    </div>

    <div id="modal">
      {{ > yield "modal" }}
    </div>

    <main class="container">
      {{ > yield }}
    </main>

    <footer>
      <div class="container">
      powered by magic
      </div>
    </footer>

</template>
