/*
  new base
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fafbfc;
  background-image: url(/images/bg.png);
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1,h2,h3,h4 {
  margin-top: 0;
}

textarea {
  resize: vertical;
}

button, input[type=submit] {cursor: pointer}
button[disabled],button[disabled]:hover{background: rgb(164, 164, 164); cursor: default;}

::selection{color:#fff;background:#222}

::-webkit-scrollbar{width:11px;background:transparent}
::-webkit-scrollbar-thumb{background:#222 }

.actionable:active {transform: scale(.97)}

/*
  helper
*/
.full {width: 100%}
.half{width: 50%}

.m-0{margin: 0}
.m-t-0{margin-top: 0}

.grey {color: #aaa}

.bg-dark-grey {background-color: #222}

/*
  search
*/
#search {
  z-index: 1000;
  position: fixed;
  display: none;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.9);
}

#search input {
  position: absolute;
  border: 0;
  color: #222;
  border-bottom: 5px solid #222;
  background: transparent;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  font-weight: bold;
  font-size: 2em;
}

/*
  shared
*/

#modal {
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
  display: none;
  background: #fff;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
}

.msg {
  margin: 1rem 0;
  padding: 1.1rem;
  font-size: 1.3rem;
  border-radius: 2px;
}
.msg.error {
  background: #f44336;
  color: #fff;
}

/*
nav
*/

.tools {
  position: fixed;
  z-index: 100;
  float: right;
  color: #222;
  font-size: 4rem;
  left: calc(100vw - 15rem);
  padding-right: 20px;
  border-right: 5px solid #222;
}

.tools > * {
  display: block;
  cursor: pointer;
}

.tools > .text {
  font-size: 3.4rem;
  color: #222;
  font-weight: bolder;
  margin-bottom: 21px;
  user-select: none;
}

.tools > *:hover {
  color: #000;
}

#user-icon {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  margin-bottom: 21px;
  line-height: 1.35;
  padding-left: 3px;
  border-radius: 50%;
  background: #222;
  color: #fafbfc;
}

.logo {
  text-shadow: 0 0 rgba(255, 0, 255, 0.75), 0 0 rgba(0, 255, 255, 0.75), 0 0 rgba(255, 255, 0, 0.75);
  transition: all .2s;
}

.logo:hover {
  text-shadow: 0.25rem -0.25rem rgba(255, 0, 255, 0.75), -0.25rem -0.25rem rgba(0, 255, 255, 0.75), 0 0.5rem rgba(255, 255, 0, 0.75);
}

/*
  project
*/

.projects {
  margin-top: 100px;
  line-height: initial;
  user-select: none;
}

.project {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 280px;
  height: 280px;
  padding: 1px;
  margin: 0 30px 30px 0;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: #222;
  cursor: pointer;
}

.project .info {
  opacity: 0;
  margin-top: 1px;
  padding: 30px;
}

.project:hover .info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
  background: rgba(255,255,255,.95);
}

.project.special {
  color: #fff;
  background: #222;
  padding: 30px;
  cursor: default;
  height: 584px;
  float: left;
}

.project.special a {
  color: #aaa;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project img:before {
    content: url(/images/icon.jpg);
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url(/images/icon.jpg);
}

#project-detail-view {
  padding: 6rem;
  padding-top: 100px;
  background: #fff;
}

#close {
  position: absolute;
  cursor: pointer;
  padding: 30px;
}

/*
  layout
*/
main.container {
  margin-top: 100px;
  min-height: calc(100vh - 100px - 100px - 100px)
}
footer {
  margin-top: 100px;
  padding-top: 30px;
  width: 100vw;
  min-height: 100px;
  background: #222;
  color: #aaa;
}
