<template name="about">

  <nav class="tools">
    {{ > navigation}}
  </nav>

    <h1>About</h1>
    <p>
      Digitalization with all its opportunities and challenges shapes our everyday lives and impacts our perceptions. The bachelor’s degree in Digital Ideation teaches students how to adopt a proactive and responsible stance with respect to digitalization. They learn how to create future applications at the interface between human and machine, art and engineering, today and tomorrow. Based on their prior knowledge (gained through basic technical or design-oriented training), students choose one of two focuses, Information Technology or Design.
    </p>

</template>
