<template name="enroll">

  <nav class="tools">
    {{ > navigation}}
  </nav>
  
  <div class="row">
    <div class="col"></div>
    <div class="col">

      <h2>Enroll</h2>

      {{#if error}}
      <div class="msg error">
        {{error}}
      </div>
      {{/if}}

      <form>
          <input type="password" placeholder="set password" name="password">
          <input type="submit" value="Enroll">
      </form>

    </div>
    <div class="col"></div>
  </div>
</template>
