<template name="index">

    <nav class="tools">
      {{ > navigation}}
      <i class="ion-plus actionable" title="Add Project"></i>
    </nav>


    <div class="projects">

      <div class="project special">
        <h4>Digital Ideation</h4>
        <a href="/about">About DI</a> <br />
        <a href="/links">Helpful Links</a>
      </div>

      {{#each projects}} {{> project}} {{/each}}

    </div>

</template>
