<template name="login">

  <nav class="tools">
    {{ > navigation}}
  </nav>
  
  <div class="row">
    <div class="col"></div>
    <div class="col">

      <h2>Login</h2>

      {{#if error}}
      <div class="msg error">
        {{error}}
      </div>
      {{/if}}

      <form>
          <input type="email" placeholder="email" name="email">
          <input type="password" placeholder="password" name="password">

          <a href="/reset" class="grey" style="float:right">Forgot Password?</a>
          <input type="submit" value="Login">

      </form>

    </div>
    <div class="col"></div>
  </div>
</template>
