<template name="users">

  <nav class="tools">
    {{ > navigation}}
  </nav>

  <h1>Users</h1>

  <div class="row">
    <div class="col-4">
      <input type="email" placeholder="email" name="email"/>
    </div>
    <div class="col-1">
      <button title="invite" class="enroll full"><i class="ion-android-send"></i></button>
    </div>
  </div>

  <table class="full">
    <tr>
      <th>email</th>
      <th>username</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {{#each users}} {{> user}} {{/each}}
  </table>

</template>
