<template name="navigation">

  <a class="logo text actionable" href="/" title="Home">DI</a>

  {{#if currentUser }}
    <a href="/"><div id="user-icon" class="actionable" title="Hi {{currentUser.email}}"> <i class="ion-android-person"></i></div></a>
    <!--<i class="ion-power actionable logout" title="Logout"></i>-->
    <a href="/users"><div class="actionable"><i class="ion-android-people"></i></div></a>
  {{else}}
    <a href="/login"><div id="user-icon" class="actionable" title="Well, hello there"> <i class="ion-android-person"></i></div></a>

  {{/if}}

  <i class="ion-search actionable" title="Search Project"></i>

</template>
