<template name="project">
  <a href="/project/{{_id.toHexString}}">
    <div class="project">
      <img src="{{image}}/images/car.jpg" />
      <div class="info">
        <b>{{name}}</b>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </a>
</template>
