<template name="projectDetail">
    <section id="project-detail-view">
        <h2 id="close" class="actionable m-0"><i class="ion-close"></i></h2>
        <div class="container">

            <div class="row">
                <div class="col">
                    <h1 class="m-0" contenteditable>{{project.text}}</h1>
                    <span> on {{ formatDate project.createdAt}} by <a href="#">Max</a></span>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <img src="/images/car.jpg" class="full" />

                    <p>
                        sdfbjasdkbk
                    </p>

                    <h5>Comments</h5>
                    {{#if currentUser }}
                    <form>
                        <textarea name="comment" placeholder="new comment"></textarea>
                        <input type="submit" value="Post" />
                    </form>
                    {{/if}}

                    {{#each project.comments}} {{ comment }} {{/each}}

                </div>
                <div class="col-2">

                    <button class="full m-t-0">Download</button>
                    <br />
                    <button class='outline full'>Source</button>

                </div>
            </div>

        </div>
    </section>
</template>
