<template name="user">

  <tr>
   <td class="half"><input type="email" value="{{emails.[0].address}}"/></td>
   <td class="half"><input type="text" value="{{username}}" /></td>
   <td><button class="update" title="update user"><i class="ion-android-done"></i></button></td>
   <td><button class="resend" disabled="{{#if emails.[0].verified}}disabled{{/if}}" title="resend enrollment mail"><i class="ion-android-send"></i></button></td>
   <td><button class="delete" title="delete user"><i class="ion-close"></i></button></td>
 </tr>

</template>
